body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header {
	height: 150px;
}
div {
	display: flex;
	frex: 1;
}
main {
	flex: 1;
}
nav {
	width: 150px;
}
aside {
	width: 150px;
}
footer {
	height: 150px;
}
